
@{
    ViewData["Title"] = "Informes";
}

<div class="row mt-0-2" >
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Ingresos ultimos 30 dias
            </div>
            <div class="card-body">
                <canvas id="chartIngresos" style="max-height:250px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Gastos ultimos 30 dias
            </div>
            <div class="card-body">
                <canvas id="chartGastos" style="max-height:250px"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            Informe por categoria ultimos 30 dias
        </div>
        <div class="card-body">
            <canvas id="chartCategorias" style="max-height:250px"></canvas>
        </div>
    </div>
</div>

@section Scripts{ 
    
    <script>

       function resumenIngresos(){
            fetch("Dashboard/InformeIngresosFecha")
            .then((response)=>{
                return response.ok? response.json():Promise.reject(response);
            })
            .then((dataJson)=>{

                //ASIGNAR ITEMS
                const labels = dataJson.map((item) =>{ return item.fecha})
                const values = dataJson.map((item) => { return item.saldo })

                const data = {
                    labels: labels,
                    datasets: [{
                        label: 'Ingresos',
                        data: values,
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                };
                const config = {
                    type: 'line',
                    data: data,
                };

                const canvasLinea = document.getElementById("chartIngresos");

                const graficoLinea = new Chart(canvasLinea,config);

            }).catch((error) =>{
                console.log(error)
            })
        }

      

        //GASTOS INFORME
        function resumenEgresos() {
            fetch("Dashboard/InformeGastosFecha")
                .then((response) => {
                    return response.ok ? response.json() : Promise.reject(response);
                })
                .then((dataJson) => {

                    //ASIGNAR ITEMS
                    const labels = dataJson.map((item) => { return item.fecha })
                    const values = dataJson.map((item) => { return item.saldo })

                    const data = {
                        labels: labels,
                        datasets: [{
                            label: 'Gastos',
                            data: values,
                            fill: false,
                            borderColor: 'rgb(255, 11, 41)',
                            tension: 0.1
                        }]
                    };
                    const config = {
                        type: 'line',
                        data: data,
                    };

                    const canvasLinea = document.getElementById("chartGastos");

                    const graficoLinea = new Chart(canvasLinea, config);

                }).catch((error) => {
                    console.log(error)
                })
        }

        ////GASTOS INFORME
        //function resumenCategorias() {
        //    fetch("Dashboard/InformeGategoria")
        //        .then((response) => {
        //            return response.ok ? response.json() : Promise.reject(response);
        //        })
        //        .then((dataJson) => {

        //            const labels = dataJson.map((item) => { return item.categoria })

        //            //FILTRAMOS POR INGRESO Y EGRESOS
        //            const dataJsonIngresos = dataJson.filter(item => item.tipo == "Ingreso");
        //            const dataJsonEgresos = dataJson.filter(item => item.tipo == "Egreso");

        //            //ASIGNAR ITEMS
        //            const labelsIngresos = dataJsonIngresos.map((item) => { return item.categoria })
        //            const valuesIngresos = dataJsonIngresos.map((item) => { return item.saldo })

        //            const labelsEgresos = dataJsonEgresos.map((item) => { return item.categoria })
        //            const valuesEgresos = dataJsonEgresos.map((item) => { return item.saldo })

        //            console.log(labelsIngresos);
        //            console.log(valuesIngresos);
        //            console.log(labelsEgresos);


        //            const data = {
        //                labels: labels,
        //                datasets: [
        //                    {
        //                        label: 'Gastos',
        //                        data: valuesEgresos,
        //                        borderWidth: 2,
        //                        borderRadius: Number.MAX_VALUE,
        //                        borderSkipped: false,
        //                    },
        //                    {
        //                        label: 'Ingresos',
        //                        data: valuesIngresos,
        //                        borderWidth: 2,
        //                        borderRadius: 5,
        //                        borderSkipped: false,
        //                    }
        //                ]
        //            };
                    
        //            const config = {
        //                type: 'bar',
        //                data: data,
        //                options: {
        //                    responsive: true,
        //                    plugins: {
        //                        legend: {
        //                            position: 'top',
        //                        },
        //                        title: {
        //                            display: true,
        //                            text: 'Chart.js Bar Chart'
        //                        }
        //                    }
        //                },
        //            };

        //            const canvasBar = document.getElementById("chartCategorias");

        //            const graficoLinea = new Chart(canvasBar, config);

        //        }).catch((error) => {
        //            console.log(error)
        //        })
        //}

        $(document).ready(()=>{
            resumenIngresos();
            resumenEgresos();
            resumenCategorias();

        })

    </script>
    
}