@model GastosPersonales.Models.SaldoMensual

@{
    ViewData["Title"] = "Cerrar mes";
}

<h4 class="text-center display-6">Cerrar Mes</h4>
<hr />
<br />
<div class="row">
    <div>
        <div class="col-md-4 shadow m-auto card card-body card-move">
            <h4 class="text-center">Saldo del mes</h4>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-2">
                    <label asp-for="Total" class="control-label"></label>
                    <input asp-for="Total" value="@ViewBag.TotalActual" class="form-control" readonly />
                    <span asp-validation-for="Total" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Mes" class="control-label"></label>
                    <input asp-for="Mes" class="form-control" placeholder="Use formato numerico ejemplo: 10" />
                    <span asp-validation-for="Mes" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Año" class="control-label"></label>
                    <input asp-for="Año" class="form-control" placeholder="Ejemplo: 2023" />
                    <span asp-validation-for="Año" class="text-danger"></span>
                </div>
                <div class="form-group mt-2" style="display:none">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                </div>
                <br />

                <div class="form-group text-center">
                    <input type="submit" value="Registrar cierre de mes" class="btn btn-danger " />
                </div>
            </form>
        </div>
    </div>
    
</div>
<br />
<div>
    <a class="btn btn-secondary" asp-action="Index">Atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
