@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Recuperaste tu contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña fue restaurada por favor ingresa <a asp-page="./Login">click aqui para iniciar sesión</a>.
</p>
