@model GastosPersonales.Models.Comprobante

@{
    ViewData["Title"] = "Editar transacciones";
}

<h4 class="text-center display-6">Editar Transacción</h4>
<hr />
<br />
<div class="row">
    <div>
        <div class="col-md-4  shadow m-auto card card-body card-move">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group mt-2">
                <label asp-for="Detalle" class="control-label"></label>
                @* <input asp-for="Detalle" class="form-control" />*@
                <textarea asp-for="Detalle" cols="40" rows="3" class="form-control" placeholder="ingresa el detalle de tu transaccion">

                </textarea>
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Costo" class="control-label">Monto</label>
                <input asp-for="Costo" type="number" step="0.01" placeholder="75,50" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 ">
                <label asp-for="Tipo" class="control-label"></label>
                @* <input asp-for="Tipo" class="form-control" />*@
                <select asp-for="Tipo" class="form-select">
                    <option value="ingreso">Ingreso</option>
                    <option value="gasto">Gasto</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                </label>
            </div>
@*            <div class="form-group mt-2" style="display:none">
            <label asp-for="Imagen" class="control-label"></label>
            <input asp-for="Imagen" class="form-control" />
            <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>*@
            <div class="form-group mt-2" style="display:none">
                <label asp-for="UserId" class="control-label">Usuario</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group mt-2">
                <label asp-for="CategoriaId" class="control-label">Categoria</label>
                <select asp-for="CategoriaId" class="form-select" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Editar transacción" class="btn btn-primary form-control" />
            </div>
        </form>
    </div>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
